* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    /* centers the layout */
    padding: 0 20px;
    background-color: #ffffff;

}

section {
    padding: 60px 20px;
    margin-bottom: 60px;
}

section:nth-child(even) {
    background-color: #f9f9f9;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
}

h1,
h2,
h3 {
    margin-bottom: 15px;
    color: #007bff;

}

p {
    line-height: 1.6;
    max-width: 700px;
}

p,
li {
    font-size: 16px;
    color: #333;
}

header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

header p {
    font-size: 18px;
    color: #555;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

section {
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
}

#about ul {
    margin-top: 10px;
    padding-left: 20px;
}

#about li {
    margin-bottom: 5px;
}

#projects h3 {
    margin-top: 20px;
}

#projects p {
    max-width: 600px;
}

.project-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
    margin-bottom: 10px;
}

#contact p {
    margin-bottom: 5px;
}

#contact a {
    color: #007bff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f8f9fa;
    color: #666;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.project {
    margin-bottom: 25px;
    max-width: 700px;
}

@media(max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    section {
        padding: 30px 15px;
    }
}
